# OS files
.DS_Store
Thumbs.db

# Node / build
node_modules/
.env

# WordPress config (IMPORTANT)
wp-config.php

# WordPress core (do not track)
wp-admin/
wp-includes/
*.php
!wp-content/

# Uploads & cache
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/

# Logs
*.log
